fastapi
uvicorn
psycopg[binary]
asyncpg
pika
python-dotenv
pandas
python-jose[cryptography]
sqlalchemy[asyncio]
pydantic-settings
requests
pyyaml
reportlab
tenacity
pytz
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-sqlalchemy
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-logging
